*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  place-items: end;
  inline-size: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.result__video-container{
  width: 100%;
  height: 100%;
  position: relative;
}

.result__video {
  inline-size: inherit;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 100%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-bottom: 7px;
}

.search-form__checkbox-list:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  opacity: 1;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #fff;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 100%;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: block;
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display: block;
  cursor: pointer;
}

.content__card-link_current, .content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
  border: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  display: block;
  white-space: nowrap;
  min-width: 194px;
  height: 103px;
  object-fit: cover; 
  object-position: left top;
  overflow: hidden;
}

.content__video-card-description-container {
  max-width: 196px;
  flex-grow: 1;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 16.2px;
}

.button {
  border: 1px solid #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  text-align: center;
  background-color: transparent;
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
  position: relative;
}

.more-button {
  width: calc(100% - 6px);
  margin: auto;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}